<nav class="layout-navbar navbar navbar-expand-xl navbar-detached">

    <div class="container-fluid">

        <div
          class="layout-menu-toggle navbar-nav align-items-xl-center me-xl-0 d-xl-none btnMovil">

            <a class="nav-item nav-link px-0 me-xl-4"
               href="javascript:void(0)">
                <i class="bx bx-menu"></i>
            </a>

        </div>

        <div class="ms-auto">

            <div class="user-info">

                <h6>
                    Hola,
                    {{ session['name_surname'] }}
                    👋
                </h6>

                <small>
                    Sistema de Gestión
                </small>

            </div>

        </div>

    </div>

</nav>